<h2>Editing Product</h2>

<h1></h1>
<% if current_user.email == 'rayobenza@gmail.com' %>
  <p>This is for super admin Ray only</p>
<% elsif current_user.email == 'super@admin.io' %>
  <p>This is for super@admin only</p>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>

<h1></h1>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>
